article, aside, details, figcaption, figure, footer, header, hgroup, main,
nav, section, summary {
  display: block; }

  audio, canvas, video {
    display: inline-block; }

    audio:not([controls]) {
      display: none;
      height: 0; }

      [hidden] {
        display: none; }

        html {
          font-family: sans-serif;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%; }

          body {
            margin: 0; }

            a:focus {
              outline: thin dotted; }

              a:active, a:hover {
                outline: 0; }

                h1 {
                  font-size: 2em;
                  margin: 0.67em 0; }

                  abbr[title] {
                    border-bottom: 1px dotted; }

                    b, strong {
                      font-weight: bold; }

                      dfn {
                        font-style: italic; }

                        hr {
                          -moz-box-sizing: content-box;
                          box-sizing: content-box;
                          height: 0; }

                          mark {
                            background: #00faff;
                            color: #0000ff; }

                            code, kbd, pre, samp {
                              font-family: monospace, serif;
                              font-size: 1em; }

                              pre {
                                white-space: pre-wrap; }

                                q {
                                  quotes: "“" "”" "‘" "’"; }

                                  small {
                                    font-size: 80%; }

                                    sub, sup {
                                      font-size: 75%;
                                      line-height: 0;
                                      position: relative;
                                      vertical-align: baseline; }

                                      sup {
                                        top: -0.5em; }

                                        sub {
                                          bottom: -0.25em; }

                                          img {
                                            border: 0; }

                                            svg:not(:root) {
                                              overflow: hidden; }

                                              figure {
                                                margin: 0; }

                                                fieldset {
                                                  border: 1px solid #c0c0c0;
                                                  margin: 0 2px;
                                                  padding: 0.35em 0.625em 0.75em; }

                                                  legend {
                                                    border: 0;
                                                    padding: 0; }

                                                    button, input, select, textarea {
                                                      font-family: inherit;
                                                      font-size: 100%;
                                                      margin: 0; }

                                                      button, input {
                                                        line-height: normal; }

                                                        button, select {
                                                          text-transform: none; }

                                                          button, html input[type="button"], input[type="reset"], input[type="submit"] {
                                                            -webkit-appearance: button;
                                                            cursor: pointer; }

                                                            button[disabled], html input[disabled] {
                                                              cursor: default; }

                                                              input[type="checkbox"], input[type="radio"] {
                                                                box-sizing: border-box;
                                                                padding: 0; }

                                                                input[type="search"] {
                                                                  -webkit-appearance: textfield;
                                                                  -moz-box-sizing: content-box;
                                                                  -webkit-box-sizing: content-box;
                                                                  box-sizing: content-box; }

                                                                  input[type="search"]::-webkit-search-cancel-button,
                                                                  input[type="search"]::-webkit-search-decoration {
                                                                    -webkit-appearance: none; }

                                                                    button::-moz-focus-inner, input::-moz-focus-inner {
                                                                      border: 0;
                                                                      padding: 0; }

                                                                      textarea {
                                                                        overflow: auto;
                                                                        vertical-align: top; }

                                                                        table {
                                                                          border-collapse: collapse;
                                                                          border-spacing: 0; }
p {
  line-height: 1.33; }

  p + p {
    margin-top: 0.67em; }
.columns {
  margin: 1em 0; }
  .columns:after {
    content: "float clear";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both; }
    .columns > div, .columns > section {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin: 0 1% 1em; }
      .columns > div:first-child, .columns > section:first-child {
        margin-left: 0; }
        .columns > div:first-child:before, .columns > section:first-child:before {
          content: none; }
      .columns > div:last-child, .columns > section:last-child {
        margin-right: 0; }
        .columns > div:last-child:after, .columns > section:last-child:after {
          content: none; }
      .columns > div.col1, .columns > section.col1 {
        width: 6.5%; }
        .columns > div.col1:before, .columns > section.col1:before {
          left: -15.38462%; }
          .columns > div.col1:after, .columns > section.col1:after {
            left: 115.38462%; }
      .columns > div.col2, .columns > section.col2 {
        width: 15%; }
        .columns > div.col2:before, .columns > section.col2:before {
          left: -6.66667%; }
          .columns > div.col2:after, .columns > section.col2:after {
            left: 106.66667%; }
      .columns > div.col3, .columns > section.col3 {
        width: 23.5%; }
        .columns > div.col3:before, .columns > section.col3:before {
          left: -4.25532%; }
          .columns > div.col3:after, .columns > section.col3:after {
            left: 104.25532%; }
      .columns > div.col4, .columns > section.col4 {
        width: 32%; }
        .columns > div.col4:before, .columns > section.col4:before {
          left: -3.125%; }
          .columns > div.col4:after, .columns > section.col4:after {
            left: 103.125%; }
      .columns > div.col5, .columns > section.col5 {
        width: 40.5%; }
        .columns > div.col5:before, .columns > section.col5:before {
          left: -2.46914%; }
          .columns > div.col5:after, .columns > section.col5:after {
            left: 102.46914%; }
      .columns > div.col6, .columns > section.col6 {
        width: 49%; }
        .columns > div.col6:before, .columns > section.col6:before {
          left: -2.04082%; }
          .columns > div.col6:after, .columns > section.col6:after {
            left: 102.04082%; }
      .columns > div.col7, .columns > section.col7 {
        width: 57.5%; }
        .columns > div.col7:before, .columns > section.col7:before {
          left: -1.73913%; }
          .columns > div.col7:after, .columns > section.col7:after {
            left: 101.73913%; }
      .columns > div.col8, .columns > section.col8 {
        width: 66%; }
        .columns > div.col8:before, .columns > section.col8:before {
          left: -1.51515%; }
          .columns > div.col8:after, .columns > section.col8:after {
            left: 101.51515%; }
      .columns > div.col9, .columns > section.col9 {
        width: 74.5%; }
        .columns > div.col9:before, .columns > section.col9:before {
          left: -1.34228%; }
          .columns > div.col9:after, .columns > section.col9:after {
            left: 101.34228%; }
      .columns > div.col10, .columns > section.col10 {
        width: 83%; }
        .columns > div.col10:before, .columns > section.col10:before {
          left: -1.20482%; }
          .columns > div.col10:after, .columns > section.col10:after {
            left: 101.20482%; }
      .columns > div.col11, .columns > section.col11 {
        width: 91.5%; }
        .columns > div.col11:before, .columns > section.col11:before {
          left: -1.0929%; }
          .columns > div.col11:after, .columns > section.col11:after {
            left: 101.0929%; }
      .columns > div.col12, .columns > section.col12 {
        width: 100%; }
        .columns > div.col12:before, .columns > section.col12:before {
          left: -1%; }
          .columns > div.col12:after, .columns > section.col12:after {
            left: 101%; }

.columns.lined > div:before, .columns.lined > section:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  content: "";
  border-left: 1px solid #ccc; }
  .columns.lined > div:after, .columns.lined > section:after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    content: "";
    border-left: 1px solid #ccc; }
    .columns.lined > div:first-child:before, .columns.lined > div:last-child:after,
    .columns.lined > section:first-child:before,
    .columns.lined > section:last-child:after {
      content: none; }
.btn, input[type='submit'], input[type='button'], input[type='reset'],
button {
  padding: 0.25em 0.5em;
  color: black;
  border: 1px solid #777;
  border-radius: 2px;
  background: white;
  position: relative;
  background: #f0f0f0;
  background-image: linear-gradient(rgba(240, 240, 240, 0), rgba(192, 192, 192, 0.33));
  border-color: silver;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #3c3c3c;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn:hover, input:hover[type='submit'], input:hover[type='button'],
  input:hover[type='reset'], button:hover {
    background-color: #e4e4e4;
    color: inherit;
    text-decoration: none; }
    .btn:active, input:active[type='submit'], input:active[type='button'],
    input:active[type='reset'], button:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(168, 168, 168, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }
      .btn[disabled], input[disabled][type='submit'], input[disabled][type='button'],
      input[disabled][type='reset'], button[disabled] {
        color: #999;
        border-color: #ccc;
        background: #eee;
        box-shadow: none;
        cursor: not-allowed; }

a.btn, ainput[type='submit'], ainput[type='button'], ainput[type='reset'],
abutton {
  display: inline-block;
  line-height: normal; }

  .btn-set {
    display: inline-block;
    word-spacing: -1em;
    white-space: nowrap;
    box-shadow: 0 0 0 -1em yellow; }
    .btn-set .btn, .btn-set input[type='submit'], .btn-set input[type='button'],
    .btn-set input[type='reset'], .btn-set button {
      border-radius: 0;
      margin: 0;
      word-spacing: normal; }
      .btn-set .btn + .btn, .btn-set input[type='submit'] + .btn,
      .btn-set input[type='button'] + .btn, .btn-set input[type='reset'] + .btn,
      .btn-set button + .btn {
        margin-left: -1px; }
        .btn-set .btn:first-child, .btn-set input:first-child[type='submit'],
        .btn-set input:first-child[type='button'],
        .btn-set input:first-child[type='reset'], .btn-set button:first-child {
          border-radius: 2px 0 0 2px; }
          .btn-set .btn:last-child, .btn-set input:last-child[type='submit'],
          .btn-set input:last-child[type='button'], .btn-set input:last-child[type='reset'],
          .btn-set button:last-child {
            border-radius: 0 2px 2px 0; }

.btn.success, input.success[type='submit'], input.success[type='button'],
input.success[type='reset'], button.success {
  position: relative;
  background: #c9e8c9;
  background-image: linear-gradient(rgba(201, 232, 201, 0), rgba(141, 206, 141, 0.33));
  border-color: #8dce8d;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #214c21;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.success:hover, input.success:hover[type='submit'],
  input.success:hover[type='button'], input.success:hover[type='reset'],
  button.success:hover {
    background-color: #bae2ba;
    color: inherit;
    text-decoration: none; }
    .btn.success:active, input.success:active[type='submit'],
    input.success:active[type='button'], input.success:active[type='reset'],
    button.success:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(110, 193, 110, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.info, input.info[type='submit'], input.info[type='button'],
input.info[type='reset'], button.info {
  position: relative;
  background: #c6e2ec;
  background-image: linear-gradient(rgba(198, 226, 236, 0), rgba(133, 194, 214, 0.33));
  border-color: #85c2d6;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #1b4451;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.info:hover, input.info:hover[type='submit'], input.info:hover[type='button'],
  input.info:hover[type='reset'], button.info:hover {
    background-color: #b5dae6;
    color: inherit;
    text-decoration: none; }
    .btn.info:active, input.info:active[type='submit'],
    input.info:active[type='button'], input.info:active[type='reset'],
    button.info:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(100, 178, 203, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.warning, input.warning[type='submit'], input.warning[type='button'],
input.warning[type='reset'], button.warning {
  position: relative;
  background: #ececc6;
  background-image: linear-gradient(rgba(236, 236, 198, 0), rgba(214, 214, 133, 0.33));
  border-color: #d6d685;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #51511b;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.warning:hover, input.warning:hover[type='submit'],
  input.warning:hover[type='button'], input.warning:hover[type='reset'],
  button.warning:hover {
    background-color: #e6e6b5;
    color: inherit;
    text-decoration: none; }
    .btn.warning:active, input.warning:active[type='submit'],
    input.warning:active[type='button'], input.warning:active[type='reset'],
    button.warning:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(203, 203, 100, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.danger, input.danger[type='submit'], input.danger[type='button'],
input.danger[type='reset'], button.danger {
  position: relative;
  background: #ecc6c6;
  background-image: linear-gradient(rgba(236, 198, 198, 0), rgba(214, 133, 133, 0.33));
  border-color: #d68585;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #511b1b;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.danger:hover, input.danger:hover[type='submit'],
  input.danger:hover[type='button'], input.danger:hover[type='reset'],
  button.danger:hover {
    background-color: #e6b5b5;
    color: inherit;
    text-decoration: none; }
    .btn.danger:active, input.danger:active[type='submit'],
    input.danger:active[type='button'], input.danger:active[type='reset'],
    button.danger:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(203, 100, 100, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.error, input.error[type='submit'], input.error[type='button'],
input.error[type='reset'], button.error {
  position: relative;
  background: #eccfc6;
  background-image: linear-gradient(rgba(236, 207, 198, 0), rgba(214, 153, 133, 0.33));
  border-color: #d69985;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #51291b;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.error:hover, input.error:hover[type='submit'],
  input.error:hover[type='button'], input.error:hover[type='reset'],
  button.error:hover {
    background-color: #e6c2b5;
    color: inherit;
    text-decoration: none; }
    .btn.error:active, input.error:active[type='submit'],
    input.error:active[type='button'], input.error:active[type='reset'],
    button.error:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(203, 126, 100, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.btn-primary, input.btn-primary[type='submit'],
input.btn-primary[type='button'], input.btn-primary[type='reset'],
button.btn-primary, input[type='submit'], button[type='submit'] {
  position: relative;
  background: #c6d5ec;
  background-image: linear-gradient(rgba(198, 213, 236, 0), rgba(133, 165, 214, 0.33));
  border-color: #85a5d6;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #1b3151;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.btn-primary:hover, input.btn-primary:hover[type='submit'],
  input.btn-primary:hover[type='button'], input.btn-primary:hover[type='reset'],
  button.btn-primary:hover, input:hover[type='submit'], button:hover[type='submit'] {
    background-color: #b5c9e6;
    color: inherit;
    text-decoration: none; }
    .btn.btn-primary:active, input.btn-primary:active[type='submit'],
    input.btn-primary:active[type='button'], input.btn-primary:active[type='reset'],
    button.btn-primary:active, input:active[type='submit'],
    button:active[type='submit'] {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(100, 141, 203, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

.btn.btn-reset, input.btn-reset[type='submit'], input.btn-reset[type='button'],
input.btn-reset[type='reset'], button.btn-reset {
  position: relative;
  background: #ecd9c6;
  background-image: linear-gradient(rgba(236, 217, 198, 0), rgba(214, 173, 133, 0.33));
  border-color: #d6ad85;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5), 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #51361b;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.1); }
  .btn.btn-reset:hover, input.btn-reset:hover[type='submit'],
  input.btn-reset:hover[type='button'], input.btn-reset:hover[type='reset'],
  button.btn-reset:hover {
    background-color: #e6ceb5;
    color: inherit;
    text-decoration: none; }
    .btn.btn-reset:active, input.btn-reset:active[type='submit'],
    input.btn-reset:active[type='button'], input.btn-reset:active[type='reset'],
    button.btn-reset:active {
      box-shadow: inset 1px 1px 2px -1px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 2px rgba(203, 152, 100, 0.5), 0 0 2px 0px rgba(0, 0, 0, 0.1);
      top: 1px; }

textarea, input[type='password'], input[type='search'], input[type='text'] {
  padding: 0.25em;
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px 0 rgba(204, 204, 204, 0.4);
  border-radius: 2px;
  background: white;
  -moz-transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  -ms-transition: linear 0.1s;
  transition: linear 0.1s;
  -moz-transition-property: border-color, box-shadow;
  -webkit-transition-property: border-color, box-shadow;
  -o-transition-property: border-color, box-shadow;
  -ms-transition-property: border-color, box-shadow;
  transition-property: border-color, box-shadow; }
  textarea:focus, input[type='password']:focus, input[type='search']:focus,
  input[type='text']:focus {
    border-color: #7da8e8;
    box-shadow: inset 1px 1px 1px 0 rgba(204, 204, 204, 0.4), 0 0 2px 1px #bad3f7; }

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30em;
  height: 10em; }

  textarea[rows] {
    height: auto; }

    textarea[cols] {
      width: auto; }

      .txt-set {
        display: inline-block;
        padding: 0 0.33em;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: #e8e8e8;
        word-spacing: 0; }
        .txt-set > * {
          word-spacing: normal; }
          .txt-set > input[type='text'] {
            margin-top: -1px;
            margin-bottom: -1px;
            border-radius: 0; }
            .txt-set > .btn, .txt-set > input[type='submit'], .txt-set > input[type='button'],
            .txt-set > input[type='reset'], .txt-set > button {
              border: none;
              margin: 0; }
              .txt-set > :first-child {
                margin-left: -0.33em; }
                .txt-set > :last-child {
                  margin-right: -0.33em; }
dl.horizontal, fieldset dl {
  margin-top: 1em;
  line-height: 1.5; }
  dl.horizontal > dt, fieldset dl > dt {
    width: 12em;
    float: left;
    text-align: right; }
    dl.horizontal > dd, fieldset dl > dd {
      margin-left: 12.5em; }
      dl.horizontal > dd + dt, fieldset dl > dd + dt {
        clear: left; }
        dl.horizontal:after, fieldset dl:after {
          content: "float clear";
          display: block;
          visibility: hidden;
          height: 0;
          clear: both; }
          dl.horizontal dt, dl.horizontal dd, fieldset dl dt, fieldset dl dd {
            margin-bottom: 0.5em; }
            dl.horizontal dt, fieldset dl dt {
              color: #444; }

fieldset {
  margin: 1em 0 0;
  padding-left: 1px;
  border: none; }
  fieldset legend {
    margin-left: 12.5em;
    padding: 0 0.25em; }
    fieldset footer {
      padding: 1em 0;
      padding-left: 12.5em;
      border-top: 1px solid #ccc;
      background: #eee; }
      fieldset footer:first-child {
        border-top: none; }

label {
  cursor: pointer; }
  label:hover input {
    box-shadow: 0 0 2px 2px #bad3f7; }

input[type="checkbox"] + .checked-label, input[type="radio"] + .checked-label {
  color: #999; }
  input[type="checkbox"]:checked + .checked-label,
  input[type="radio"]:checked + .checked-label {
    color: #335c99; }

textarea.fill {
  display: block;
  margin: 1em 0;
  box-sizing: border-box;
  width: 100%; }
table.table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  table.table th, table.table td {
    padding: 0.5em; }
    table.table th {
      text-align: left; }
      table.table > tbody tr, table.table > thead tr, table.table > tfoot tr {
        border-top: 1px solid #ccc; }
        table.table > tbody:first-child tr:first-child,
        table.table > thead:first-child tr:first-child,
        table.table > tfoot:first-child tr:first-child {
          border-top: none; }

table.table-striped > tbody > tr:nth-child(2n+1) {
  background: rgba(230, 230, 230, 0.3); }
  table.table-striped > tfoot > tr {
    background: #eee; }
    table.table-striped > tfoot > tr:first-child {
      border-top: 1px solid #ccc; }

table.table-hover > tbody tr:hover {
  background: rgba(198, 207, 236, 0.3); }
ol.inline > li, ul.inline > li, menu.inline > li {
  display: inline-block; }
  ol.plain, ul.plain, menu.plain {
    padding: 0;
    list-style-type: none; }

dl.horizontal, fieldset dl {
  line-height: 1.5; }
  dl.horizontal > dt, fieldset dl > dt {
    width: 12em;
    float: left;
    text-align: right; }
    dl.horizontal > dd, fieldset dl > dd {
      margin-left: 12.5em; }
      dl.horizontal > dd + dt, fieldset dl > dd + dt {
        clear: left; }
        dl.horizontal:after, fieldset dl:after {
          content: "float clear";
          display: block;
          visibility: hidden;
          height: 0;
          clear: both; }
          dl.horizontal dt, fieldset dl dt {
            color: #666; }
body {
  font-family: "Ubuntu", "DejaVu Sans", sans-serif;
  font-size: 16px;
  color: #202020; }

  section {
    margin: 1em; }
    section section {
      margin-left: 0;
      margin-right: 0; }
      section:first-child {
        margin-top: 0; }
        section + section {
          margin-top: 2em; }
          section > section + section {
            margin-top: 1em; }

p {
  line-height: 1.5;
  margin-bottom: 0.5em; }

  code, tt, kbd, samp, pre {
    font-family: Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Andale Mono",
        Consolas, "Courier New", monospace, sans-serif; }

    var {
      font-family: serif;
      font-style: italic; }

      pre {
        line-height: 1.33; }
code {
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5;
  padding: 0 0.25em; }

  kbd > kbd {
    padding: 0 0.1em;
    background: #f4f4f4;
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 0 #c0c0c0; }

    mark {
      padding: 0 0.25em;
      background: yellow; }

