body {
  background: url(/static/images/global-background-squares.png) #dbd1e0 fixed; }

  body > header {
    padding: 0.5em;
    background: #44436f; }

    .front-page-sidebar {
      margin-left: 1em; }

      .merchant-sidebar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
        .merchant-sidebar .merchant-sidebar-merch {
          -webkit-box-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          -moz-box-flex: 0 1 auto;
          -moz-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: space-around;
          -ms-flex-pack: space-around;
          -webkit-justify-content: space-around;
          -moz-justify-content: space-around;
          justify-content: space-around;
          margin-right: 1em;
          background: #44436f; }
          .merchant-sidebar .merchant-sidebar-merch a {
            display: block;
            margin: 1em;
            background: #f0d1f9; }
            .merchant-sidebar .merchant-sidebar-merch img {
              display: block;
              width: 100%; }
              .merchant-sidebar .merchant-sidebar-merch img:hover {
                opacity: 0.67; }

.merchant-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

  .merchant-bush-left, .merchant-bush-right {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -moz-box-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 0.5em;
    background: #cac6cf; }
    .merchant-bush-left > .-spacer, .merchant-bush-right > .-spacer {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.merchant-banner {
  z-index: 0;
  -webkit-box-flex: 1 0;
  -webkit-flex: 1 0;
  -moz-box-flex: 1 0;
  -moz-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0 0.5em;
  background-color: #817390;
  background-image: url(/static/images/global-title-background-full.png);
  background-position: center, center;
  background-repeat: repeat; }
  .merchant-banner > img {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -moz-box-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none; }
    .merchant-banner .merchant-banner--left {
      margin-right: -50px;
      margin-left: -30px; }
      .merchant-banner .merchant-banner--logo {
        padding: 2px 0; }
        .merchant-banner .merchant-banner--right {
          margin-left: -110px;
          margin-bottom: -19px;
          margin-right: -40px; }

.merchant-bush-words {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none; }

  .merchant-button {
    -webkit-box-flex: none;
    -webkit-flex: none;
    -moz-box-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transition: outline 0.2s linear;
    outline: 0 solid #9f72b1; }
    .merchant-button img {
      display: block; }
      .merchant-button:hover {
        outline: 2px solid #9f72b1; }

.merchant-button-deviantart {
  background: #3a6057; }

  .merchant-button-twitter {
    background: white; }

    .merchant-button-tumblr {
      background: #160d4a; }

      .merchant-button-patreon {
        background: white; }

        .merchant-button-facebook {
          background: #324274; }

          .merchant-button-rss {
            background: white; }

            .merchant-navbar {
              z-index: -1;
              margin-top: 0.5em;
              padding: 0.5em;
              color: white;
              background: #242254; }
              .merchant-navbar > ul {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: space-around;
                -ms-flex-pack: space-around;
                -webkit-justify-content: space-around;
                -moz-justify-content: space-around;
                justify-content: space-around;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -moz-align-items: center;
                align-items: center;
                margin: 0; }
                .merchant-navbar > ul a, .merchant-navbar > ul img {
                  display: block; }
                  .merchant-navbar > ul > li {
                    opacity: 0.9;
                    transform-origin: center;
                    transition: 0.2s linear; }
                    .merchant-navbar > ul > li:hover {
                      opacity: 1;
                      transform: scale(1.1); }

#ibar {
  height: 49px;
  padding: 0;
  margin: 1em 0.5em; }

