<div class="navbar">
    <div class="panel main">
        <a href="/"><img src="home" alt="home"></a>
        <a><img alt="contact"></a>
    </div>
    <div class="panel social">
        <a title="Twitter" class="merchant-button merchant-button-twitter">
            <img src="button-twitter" alt="Twitter">
        </a>
        <a title="deviantArt" class="merchant-button merchant-button-deviantart">
            <img src="button-deviantart" alt="deviantArt">
        </a>
        <a title="Tumblr" class="merchant-button merchant-button-tumblr">
            <img src="button-tumblr" alt="Tumblr">
        </a>
    </div>
</div>
